.bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom right, #002f4b, #25dc9f);
}

.body-class {
    height: 100vh;
    z-index: 1;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centered-element {
    justify-content: center;
    align-items: center;
    display: flex;
}

.col-4,
.col-7 {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

button {
    width: 100%;
}

.form-group,
img {
    margin-bottom: 20px;
}

.row {
    width: 100%;
}

.logo {
    width: 50%;
}